<template>
  <div id="app">
    <h1>tic tac toe</h1>
    <TicTacToe></TicTacToe>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #E6EBE0;
  font-size: 40px;
}
</style>
