<template>
<div class="cell" @click="$emit('click')">
  <strong v-if="gridValue" :class="cellClass">{{ gridValue }}</strong>
</div>
</template>

<script>
export default {
  name: 'Cell',
  props: {
    gridValue: {
      type: String,
      required: false,
    },
  },
  computed: {
    cellClass() {
      return this.gridValue === 'X' ? 'cross' : 'circle';
    },
  },
}
</script>

<style>
.cell {
  width: 100px;
  height: 100px;
  border: 3px solid #8F9491;
  background-color: #E6EBE0;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross {
  color: #4B3F72;
}
.circle {
  color: #646536;
}
</style>