<template>
  <div class="container">
    <div class="grid">
      <div v-for="(n, column) in 3">
        <div v-for="(n, row) in 3">
          <Cell
            :gridValue="grid.cells[row][column]"
            @click="movePlayer(row, column)"
          ></Cell>
        </div>
      </div>
    </div>
    <h3>{{ message }}</h3>
    <button
      v-if="message"
      @click="resetGrid"
    >wanna try again?</button>
  </div>
</template>

<script>
import Grid from './Grid';

export default {
  name: 'TicTacToe',
  data() {
    return {
      message: null,
      grid: new Grid(),
    };
  },
  methods: {
    movePlayer(row, column) {
      if (this.grid.isGameOver()) return;
      if (this.grid.cells[row][column] !== '') return;

      this.grid.markMove(row, column, this.grid.playerMark);
      this.$forceUpdate();

      if (this.grid.isGameOver()) {
        this.changeMessage();
        return;
      }

      let move = this.grid.minimax(this.grid, this.grid.computerMark).move;

      this.grid.markMove(move.row, move.column, this.grid.computerMark);
      this.$forceUpdate();

      if (this.grid.isGameOver()) {
        this.changeMessage();
        return;
      }
    },
    changeMessage() {
      if (this.grid.checkForWin(this.grid.playerMark)) this.message = 'yay, you won!';
      else if (this.grid.checkForWin(this.grid.computerMark)) this.message = 'oh no, you lost :(';
      else this.message = 'it\'s a tie!';
    },
    resetGrid() {
      this.grid = new Grid();
      this.message = null;
    },
  },
}
</script>

<style>
.container {
  text-align: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #8F9491;
}
h3 {
  color: #987284;
  font-size: 24px;
  margin-bottom: 0;
}
button {
  font-family: 'Avenir';
  outline: none;
  border: none;
  background-color: #987284;
  color: #E6EBE0;
  padding: 10px 30px;
  margin-top: 10px;
  font-size: 20px;
}
button:hover {
  background-color: #705461;
  cursor: pointer;
}
</style>